<%= form_with model: @diary, url: diaries_path, local: true do |f| %>
  <div class="field">
    <%= f.label :今日の画像 %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :今日の日付 %>
    <%= f.text_field :title %>
  </div>

  <div id="demo-area" class="form-group">
    <div class="unit input-group mb-2">
      <div class="input-group-prepend">
        <%= f.label :今日やったこと %>
      </div>
      <%= f.text_field :text, name: "text[]" %>
      <div class="demo-minus input-group-append">
        <span class="btn btn-danger">-</span>
      </div>
    </div>
  </div>

  <div id="demo-plus" class="btn btn-primary">+</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
