<!DOCTYPE html>
<html>
  <head>
    <title>FormObjectPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice" class="ml-5 mt-3"><%= notice %></p>
    <p id="alert" class="ml-5 mt-3"><%= alert %></p>
    <%= yield %>
  </body>
</html>
